<?xml version="1.0" encoding="UTF-8"?>


<beans 

	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">
 

 	<bean id = "s" class="com.masai.Service_layer">
 	
 	<constructor-arg name ="num1" value="20" ></constructor-arg>
 	<constructor-arg name ="num2" value="10" ></constructor-arg>
 	
 	</bean>
 	
 	<bean  id="sl" class="com.masai.Presentation_Layer">
 	
 	<property name="sl" ref="s"></property>
 	
 	</bean>
 
</beans>